<div class="row test-row -D-f Ml-1gg {{modifier_class}}" style="min-height: 270px;">
	<div class="row__item Mb3su Ml1gg Mb3su W2c_sm W3c_md">
		<h3>{{modifier_class}}</h3>
		<p>molestie ac, maspurus viverra?</p>
	</div>
	<div class="row__item Ml1gg Mb3su W2c_sm W3c_md">
		<h3>{{modifier_class}}</h3>
		<p>Et molestie ac, purus viverra?</p>
	</div>
	<div class="row__item Ml1gg Mb3su W2c_sm W4c_md">
		<h3>{{modifier_class}}</h3>
		<p>Et ac, egestas purus viverra?</p>
	</div>
	<div class="row__item Ml1gg Mb3su W2c_sm W2c_md">
		<h3>{{modifier_class}}</h3>
		<p>Et molestie ac, purus viverra?</p>
	</div>
	<div class="row__item Ml1gg Mb3su W2c_sm W3c_md">
		<h3>{{modifier_class}}</h3>
		<p>Et ac, egestas purus viverra?</p>
	</div>
	<div class="row__item Ml1gg Mb3su W2c_sm W3c_md">
		<h3>{{modifier_class}}</h3>
		<p>molestie ac, maspurus viverra?</p>
	</div>
</div>
